/* You can add global styles to this file, and also import other style files */
:root{
   --dark-light-text:black;
   --button-light-bg:#08AC0A;
   --button-dark-bg:#034d04;

}
*{
    transition: 0.7s;
}
.text-dark-light{
    color: var(--dark-light-text);
}
/* Dark Theme Styles */
.dark-theme {
    background-color: #121212 !important;
    color: #ffffff !important;
  }
  .cursor-pointer{
    cursor: pointer;
  }

  .button-light{
    background-color:#08AC0A !important;
    color: #ffffff ;
    border-radius: 10px;
    transform: translateY(150%);
    opacity: 0;
    transition: 0.5s;
  }
  .button-lightCart{
    background-color:#08AC0A !important;
    color: #ffffff ;
    border-radius: 10px;

  }
  .text-main{
    color: #08AC0A;
  }
  .bg-main{
    background-color: #08AC0A;
  }
  .col-md-2{
    transition: 0.5s;
  }
  .col-md-2:hover{
    box-shadow: 0 0 10px #08AC0A;

  }
  owl-carousel-o{
    transform-origin: 0.1s;
  }
  .col-md-2:hover .button-light{
    transform: translateY(-10%);
    opacity: 1;
  }
  .button-dark{
    background-color:#034d04 !important;
  }
  .ratecolor{
    color: rgb(186, 186, 0);
  }
  .customize{
    background-color: #034d0468;
    backdrop-filter: blur(150px);
  }